@import "../../styles/vars";

.form {
  &_field {
    margin-bottom: 20px;
  }
  &_label {
    color: $white;
    font-weight: 100;
    font-size: 0.75rem;
    display: block;
  }
  &_input {
    border: none;
    border-bottom: 3px solid $primary-color;
    background-color: transparent;
    font-size: 1.75rem;
    letter-spacing: .25rem;
    font-weight: 100;
    outline: none;
    width: 100%;
    color: $white;

    &--small-text {
      font-size: 1rem;
      letter-spacing: 0;
    }

    &[readonly] {
      opacity: 0.5;
    }
  }
  &_button {
    border: none;
    background-color: $primary-color;
    color: $white;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 25px 10px 25px;
    border-radius: 3px;
  }
  &_actions {
    padding-top: 25px;
    text-align: right;
  }
}